* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.buttons {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  background-color: #f9f8fa;
  padding: 0 !important;
  border-radius: 0 4px 4px 0;
}
.select {
  padding: 3px 5px;
}
.select .form-select {
  cursor: pointer;
}
.add-btn {
  height: 100%;
}
.add-btn .btn {
  background-color: white;
  height: 100% !important;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}
.modal-footer {
  display: flex;
  justify-content: space-between;
}
